@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  
  --primary-dark: #1F2937;
  --primary-green:#6EE7B7;

}


*{
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("/images/contact.webp");
  background-size: cover;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
.main_container {
  display: flex;
  height: calc(100vh - 72px);
  flex-direction: column;
  justify-content: end;
}

.logo{
  display: flex;
  font-size:30px;
  font-weight:800;
  color: var(--primary-green);
  font-family: 'Satisfy', cursive;
  margin-top: 2rem;
  margin-left: 2rem;

}